.adminPage {
    padding: 5%;
    background-color: #DBDFFD;
}

.ganttChart {
    background-color: white;
}

.chartContainer {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}