.adminPage {
    background-color: #DBDFFD;
}

.innerDiv {
    padding-left: 20px;
}

.ganttChart {
    background-color: white;
    padding-bottom: 50px;
}

.chartContainer {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.Pie-Chart{
    display: flex;
    justify-content:space-between;
    width:33.33%; 
    margin-bottom: 70px;
}

.Graph{
    display: flex;
    justify-content: space-between;
    width:50%; 
    height: 150%;
}

.specificTitle {
    margin-top: 70px;
    margin-bottom: 20px;
}

.overallTitle {
    margin-top: 30px;
}

.mainTitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}