.coordinatorPage {
    background-color: #DBDFFD;
    height: 100vh;
}

.fieldBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}